@model CompInfo.Models.CompetitorViewModel

@{
    ViewBag.Title = "Competitor | Details";
}

<div>
    <h4 class="alert alert-success">Competitor Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Market)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Market)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompetitorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
