@model IEnumerable<CompInfo.Models.HardwareViewModel>

@{
    ViewBag.Title = "Hardware";
}

<p>
    @Html.ActionLink("Create New Hardware Entry", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvOverBeijer)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvOverBeijer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HardwareId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HardwareId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HardwareId })
            </td>
        </tr>
    </tbody>
}

</table>
